AutoReservationAdmin/Connected Services/AutoReservationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" />
  <xs:element name="getAllCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="getAllCarsResult" nillable="true" type="q1:ArrayOfAutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="getAllCustomersResult" nillable="true" type="q2:ArrayOfKundeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="getAllReservationsResult" nillable="true" type="q3:ArrayOfReservationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCarById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCarByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="getCarByIdResult" nillable="true" type="q4:AutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="getCustomerByIdResult" nillable="true" type="q5:KundeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationByNr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationByNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="getReservationByNrResult" nillable="true" type="q6:ReservationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="autoDto" nillable="true" type="q7:AutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="kundeDto" nillable="true" type="q8:KundeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addRerservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="reservationDto" nillable="true" type="q9:ReservationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRerservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="autoDto" nillable="true" type="q10:AutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="kundeDto" nillable="true" type="q11:KundeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyRerservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="reservationDto" nillable="true" type="q12:ReservationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyRerservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="autoDto" nillable="true" type="q13:AutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="kundeDto" nillable="true" type="q14:KundeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRerservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="reservationDto" nillable="true" type="q15:ReservationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRerservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isCarAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="reservation" nillable="true" type="q16:ReservationDto" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AutoReservation.Common.DataTransferObjects" minOccurs="0" name="auto" nillable="true" type="q17:AutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isCarAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isCarAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>